@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.app {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 90vh;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-weight: 700;
}

.quote-card {
  border: 1px solid #ddd;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  width:600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.placeholder {
  width:100%;
  overflow-x: hidden;
}

.quote-list {
  margin: 20px;
  width:80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quote-item {
  /* padding: 10px; */
  /* border-bottom: 1px solid #ddd; */
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width:300px;
  min-height: 130px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width:768px){
  .quote-card{
    width:100%;
  }
  .quote-list{
    width:100%;
  }
}